:root {
  --back: #f00;
}
.confirmCon {
  top: 150px;
}
.btns {
  display: flex;
  margin-bottom: 20px;
}
.btns .ant-btn {
  margin-right: 10px;
}
.el-table thead {
  height: 55px;
}
.el-table th.el-table__cell {
  background-color: #fafafa !important;
}
